{% extends 'FitFixFrontendBundle::layout.html.twig' %}

{% block title %}
FixFit - Pricing
{% endblock %}

{% block stylesheets %}
    {% stylesheets output='bundles/fitfixfrontend/css/styles.css' debug=false filter='cssrewrite'
      'bundles/fitfixfrontend/css/styles.css'
      'bundles/fitfixfrontend/css/all.css'
    %} 
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body_css %} class="page-g add" {% endblock %}

{% block content %}
<div id="content">
  <div class="title">
    <div class="wrapper">
      <h1>Choose your package</h1>
    </div>
  </div>
  
  <div id="pricing_page">
    <div id="pricing_page_intro" class="wrapper"><h2>Ready for your 14 day free trial?</h2><br />
      Please select from one of our monthly packages below to access our Free Trial. 
	  You'll get full access to all of our features, along with unlimited clients and free updates! 
	  And don’t worry, find it’s not your thing? You’re able to <strong>cancel</strong> your free trial at any time with <strong>no charge</strong>.
    </div>
  </div>
  <div class="bg_pricing_top"></div>
    <div id="tab_wrapper_pricing">
      <ul class="tabs_pricing">
        <li id="li1" class="tabs-selected"><a href="javascript:void(0);"  class="tab"  onclick="javascript: tab_click(1,3);">
          <img class="run" src="{{ asset('bundles/fitfixfrontend/images/pricing/img1_sm.png') }}"  alt="" /><!-- 29.99 -->
          <img class="active" src="{{ asset('bundles/fitfixfrontend/images/pricing/img1_bg.png') }}"  alt="" /></a>
        </li>
        <li id="li2"><img class="percent" src="{{ asset('bundles/fitfixfrontend/images/pricing/percent10.png') }}"  alt="" /><a href="javascript:void(0);"  class="tab"  onclick="javascript: tab_click(2,3);">
          <img class="run" src="{{ asset('bundles/fitfixfrontend/images/pricing/img2_sm.png') }}"  alt="" /><!-- 161.94 -->
          <img class="active" src="{{ asset('bundles/fitfixfrontend/images/pricing/img2_bg.png') }}"  alt="" /></a>
        </li>
        <li id="li3"><img class="percent" src="{{ asset('bundles/fitfixfrontend/images/pricing/percent20.png') }}"  alt="" /><a href="javascript:void(0);"  class="tab"  onclick="javascript: tab_click(3,3);">
          <img class="run" src="{{ asset('bundles/fitfixfrontend/images/pricing/img3_sm.png') }}"  alt="" /><!-- 287.64 -->
          <img class="active" src="{{ asset('bundles/fitfixfrontend/images/pricing/img3_bg.png') }}"  alt="" /></a>
        </li>
      </ul>
      
      <div class="tab-content first" id="tabs1" style="display: block;">
        <div class="tabs_pricing_content" >
            <div class="pay-subscription-via-paypal-from">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" name="frmPayPal1">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="business" value="info@fitfix.co.uk">
                <input type="hidden" name="item_name" value="FitFix Subscription">
                <input type="hidden" name="item_number" value="1">
                
			    <input type="hidden" name="a1" value="0">
			    <input type="hidden" name="p1" value="14">
			    <input type="hidden" name="t1" value="D">
                
                <input type="hidden" name="a3" value="19.99">
                <input type="hidden" name="p3" value="1">
                <input type="hidden" name="t3" value="M">
                <input type="hidden" name="cpp_header_image" value="http://www.fitfix.co.uk/images/logo.gif">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="currency_code" value="GBP">
                <input type="hidden" name="handling" value="0">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="cancel_return" value="{{ url('frontend_subscription', {'tuuid': uuid}) }}">
                <input type="hidden" name="return" value="{{ url('frontend_subscription_thankyou') }}">
                <input type="hidden" name="notify_url" value="{{ url('front_subscription_callback', {'tid': trainerId}) }}">
                <input type="image" src="{{ asset('bundles/fitfixfrontend/images/pricing/choose.gif') }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
      </div>
      <div class="tab-content second" id="tabs2" style="display:none;">
        <div class="tabs_pricing_content" >
            <div class="pay-subscription-via-paypal-from">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" name="frmPayPal1">
                <input type="hidden" name="business" value="info@fitfix.co.uk">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="item_name" value="FitFix Subscription">
                <input type="hidden" name="item_number" value="2">
                
                <input type="hidden" name="a1" value="0">
			    <input type="hidden" name="p1" value="14">
			    <input type="hidden" name="t1" value="D">
                
                <input type="hidden" name="a3" value="108.00">
                <input type="hidden" name="p3" value="6">
                <input type="hidden" name="t3" value="M">
                <input type="hidden" name="cpp_header_image" value="http://www.fitfix.co.uk/images/logo.gif">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="currency_code" value="GBP">
                <input type="hidden" name="handling" value="0">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="cancel_return" value="{{ url('frontend_subscription', {'tuuid': uuid}) }}">
                <input type="hidden" name="return" value="{{ url('frontend_subscription_thankyou') }}">
                <input type="hidden" name="notify_url" value="{{ url('front_subscription_callback', {'tid': trainerId}) }}">
                <input type="image" src="{{ asset('bundles/fitfixfrontend/images/pricing/choose.gif') }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
      </div>
      <div class="tab-content third" id="tabs3" style="display:none;">
        <div class="tabs_pricing_content" >
            <div class="pay-subscription-via-paypal-from">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" name="frmPayPal1">
                <input type="hidden" name="business" value="info@fitfix.co.uk">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="item_name" value="FitFix Subscription">
                <input type="hidden" name="item_number" value="3">
 
			    <input type="hidden" name="a1" value="0">
			    <input type="hidden" name="p1" value="14">
			    <input type="hidden" name="t1" value="D">
                
                <input type="hidden" name="a3" value="192.00">
                <input type="hidden" name="p3" value="12">
                <input type="hidden" name="t3" value="M">
                <input type="hidden" name="cpp_header_image" value="http://www.fitfix.co.uk/images/logo.gif">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="currency_code" value="GBP">
                <input type="hidden" name="handling" value="0">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="cancel_return" value="{{ url('frontend_subscription', {'tuuid': uuid}) }}">
                <input type="hidden" name="return" value="{{ url('frontend_subscription_thankyou') }}">
                <input type="hidden" name="notify_url" value="{{ url('front_subscription_callback', {'tid': trainerId}) }}">
                <input type="image" src="{{ asset('bundles/fitfixfrontend/images/pricing/choose.gif') }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
      </div>
    </div>
	<div class="start_free_trial">
        <div class='subtotal'>Subtotal:  14 Day Free trial <span class='free_trial_small'>followed by</span> <span class='free_trial_subtotal'>£19.99</span></div>
        <div class='rolling_payment'><span>One month</span> rolling payment which can be cancelled at any time.</div>
	</div>
	
  <div class="paypal"><a href="paypal"><img src="{{ asset('bundles/fitfixfrontend/images/pricing/paypal.png') }}"  alt="" /></a>
  </div>    
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/cufon-yui.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/BigNoodleTitling_400.font.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/RobotoCondensedB_400.font.js') }}"></script>

<script type="text/javascript">
     Cufon.replace(".title h1", {fontFamily: 'BigNoodleTitling', color: '-linear-gradient(0.5=#ffffff, 0.5=#eaeaea, #eaeaea, rgb(0, 0, 0))', textShadow: '1px 1px 1px #1f0f29'});
	  Cufon.replace(".start_free_trial div.subtotal", {fontFamily: 'BigNoodleTitling', color: '-linear-gradient(0.5=#7c3d97, 0.5=#7c3d97, #7c3d97, #7c3d97)', textShadow: '1px 2px 1px rgba(0,0,0,0.2)'});
      Cufon.replace("#content h2", {fontFamily: 'RobotoCondensedB'});
	$(document).ready(function(){
		$('#li1').click(function() {
			$('.free_trial_subtotal').html('£19.99');
			$('.rolling_payment span').html('One month');
			Cufon.replace(".free_trial_subtotal", {fontFamily: 'BigNoodleTitling', color: '-linear-gradient(0.5=#7c3d97, 0.5=#7c3d97, #7c3d97, #7c3d97)', textShadow: '1px 2px 1px rgba(0,0,0,0.2)'});
		});
		$('#li2').click(function() {
			$('.free_trial_subtotal').html('£108.00');
			$('.rolling_payment span').html('Six month');
			Cufon.replace(".free_trial_subtotal", {fontFamily: 'BigNoodleTitling', color: '-linear-gradient(0.5=#7c3d97, 0.5=#7c3d97, #7c3d97, #7c3d97)', textShadow: '1px 2px 1px rgba(0,0,0,0.2)'});
		});
		$('#li3').click(function() {
			$('.free_trial_subtotal').html('£192.00');
			$('.rolling_payment span').html('Yearly');
			Cufon.replace(".free_trial_subtotal", {fontFamily: 'BigNoodleTitling', color: '-linear-gradient(0.5=#7c3d97, 0.5=#7c3d97, #7c3d97, #7c3d97)', textShadow: '1px 2px 1px rgba(0,0,0,0.2)'});
		});
	});
</script>
<script type="text/javascript" src="{{ asset('bundles/fitfixfrontend/js/tab_click.js') }}"></script>

<!--[if lte IE 8]>
<style type="text/css">
.bg_pricing_top {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src="{{ asset('bundles/fitfixfrontend/images/team/bg_team_top.png') }}", sizingMethod='scale');
background-image:none;
left:0px;
}
</style>
<![endif]-->
{% endblock %}
