{% extends '::base.html.twig' %}

{% block title %}FitFix Admin{% endblock %}

{% block favicon %}
    {% image '@FitFixAdminBundle/Resources/public/images/favicon.ico' %}
        <link rel="shortcut icon" href="{{ asset_url }}" />
    {% endimage %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output='bundles/fitfixadmin/css/admin.css' debug=false filter='cssrewrite'
                    'css/bootstrap.css'
                    '@FitFixAdminBundle/Resources/public/css/styles.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('admin_home') }}">FitFix Admin</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li{% if app.request.attributes.get('_route') == 'admin_home' %} class="active"{% endif %}><a href="{{ path('admin_home') }}">Home</a></li>
                        <li{% if 'admin_client' in app.request.attributes.get('_route') %} class="active"{% endif %}><a href="{{ path('admin_client') }}">Clients</a></li>
                        <li{% if 'admin_trainer' in app.request.attributes.get('_route') %} class="active"{% endif %}><a href="{{ path('admin_trainer') }}">Trainers</a></li>
                        <li{% if 'admin_session' in app.request.attributes.get('_route') %} class="active"{% endif %}><a href="{{ path('admin_session') }}">Sessions</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts output='bundles/fitfixadmin/js/admin.js' debug=false
                    'js/jquery.js'
                    'js/bootstrap.js'
                    '@FitFixAdminBundle/Resources/public/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
