<h2>Client list</h2>

<ul>
    {{#each clients}}
    <li>
        <ul>
            {{#each this}}
                <li>{{ @key }}: {{this}}</li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>