<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <style>
    @font-face {
	font-family: 'bebas_neueregular';
	src: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/bebasneue-webfont.eot') }}');
	src: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/bebasneue-webfont.eot?#iefix') }}') format('embedded-opentype'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/bebasneue-webfont.woff') }}') format('woff'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/bebasneue-webfont.ttf') }}') format('truetype'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/bebasneue-webfont.svg#bebas_neueregular') }}') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'calibriregular';
	src: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/calibri-webfont.eot') }}');
	src: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/calibri-webfont.eot?#iefix') }}') format('embedded-opentype'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/calibri-webfont.woff') }}') format('woff'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/calibri-webfont.ttf') }}') format('truetype'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/calibri-webfont.svg#calibriregular') }}') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bignoodletitlingregular';
	src: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/big_noodle_titling_fontsbucket.com-webfont.eot') }}');
	src: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/big_noodle_titling_fontsbucket.com-webfont.eot?#iefix') }}') format('embedded-opentype'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/big_noodle_titling_fontsbucket.com-webfont.woff') }}') format('woff'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/big_noodle_titling_fontsbucket.com-webfont.ttf') }}') format('truetype'),  url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/fonts/big_noodle_titling_fontsbucket.com-webfont.svg#bignoodletitlingregular') }}') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	max-height: 1000000px;
}
body {
	margin: 0;
	color: #b7b7b7;
	font: 16px/20px 'calibriregular', Arial, Helvetica, sans-serif;
	background: url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-body.png') }});
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	min-width: 550px;
}
img {
	border-style: none;
}
a {
	text-decoration: none;
	color: #2ba5da;
}
a:hover {
	text-decoration: underline;
}
input, textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #b2b2b2;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
#header_bg, #header, #content_home, #content, .title, #footer {
	width:100%;
}
#header_bg {
	background: url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg_top.png') }}) repeat-x center 0;
	position:relative;
	z-index:200;
}
#header {
	height:115px;
	position:relative;
	z-index:200;
	background: url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg_header2.png') }}) no-repeat center bottom;
}
.page1 #header_bg {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-header.png') }}) repeat-x;
	min-height:55px;
}
.page1 #header {
	min-height:55px;
	background: url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg_header2.png') }}) no-repeat center 48px;
}
#header .wrapper {
	position:relative;
	z-index:200
}
#header_bg.size_sign_in {
	background: url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg_top.png') }}) repeat-x center bottom;
	position:relative;
	z-index:200;
	height:30px
}
#header.header_sign_in {
	height:60px
}
#header.header_sign_in .wrapper {
	text-align:center;
}
#header.header_sign_in .wrapper img {
	margin-top:20px;
}
#nav {
	float:left;
	margin-top:30px;
}
#nav ul {
	margin:0;
	padding:0;
	float:none;
	clear:both;
	font-size:14px;
	line-height:16px;
	font-family: Arial, Verdana, Calibri, sans-serif
}
#nav li {
	font-size:14px;
	float: left;
	list-style: none;
	margin-right:15px;
}
#nav li a {
	text-decoration:none;
	color:#2b2c2c;
}
#nav li a:hover {
	text-decoration:none;
	color:#000000;
}
#logo {
	position:absolute;
	top:15px;
	left:50%;
	margin-left:-75px;
}
.page1 #logo { margin-left:-53px;}
#top_button {
	float:right;
	overflow:hidden;
	margin-top:19px;
}
.ext-mar { margin:7px 0 !important;}
#top_button img {
	float:left;
	margin-left:9px;
}
.page1 .title-area  { margin-top:-67px;}
.title-area {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-title.png') }}) repeat-x;
	margin:-45px 0 66px;
	min-height:86px;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.page1 .title-area {
	margin-bottom:46px;
}
.container:after {
	display:block;
	content:"";
	clear:both;
}
.title-area:after {
	display:block;
	content:"";
	clear:both;
}
.title-area h1 {
	margin:0;
	font-size:30px;
	line-height:35px;
	color:#eaeaea;
	font-family: 'bignoodletitlingregular';
	text-transform:uppercase;
	padding:27px 0 0;
}
.title-area h1.heading {
	margin:0;
	margin:27px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/txt-title.png') }}) no-repeat;
	width:323px;
	height:34px;
}
.title-area h1.heading2 {
	margin:27px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/txt-title-2.png') }}) no-repeat;
	width:245px;
	height:34px;
}
.title-area h1.heading3 {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/txt-title-3.png') }}) no-repeat;
	width:177px;
	height:22px;
	text-indent:-9999px;
	overflow:hidden;
	margin:30px 0 0;
	float:left;
}
span.highlight {
	color:#2BA5DA;
}
.main {
	overflow:hidden;
}
.description {
	overflow:hidden;
	padding:0 2px;
	line-height:22px;
	font-size:17px;
	margin:0 0 10px;
}
.description p {
	margin:0 0 21px;
}
.info-holder {
	overflow:hidden;
	width:398px;
	margin:0 0 11px 46px;
	border:1px solid #e5e5e5;
	background:#fff;
}
.login-form {
	overflow:hidden;
}
.login-form .row {
	overflow:hidden;
	border-bottom:1px solid #e5e5e5;
	padding:8px 22px;
}
.login-form label {
	float:left;
	padding:0 0 0 35px;
	color:#2ba5da;
	font-size:18px;
	line-height:20px;
	margin:7px 0 0;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/ico.png') }}) no-repeat;
}
.login-form label.add {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/ico2.png') }}) no-repeat;
}
.login-form input[type="text"] {
	border:none;
	background:none;
	width:238px;
	float:right;
	height:31px;
	line-height:31px;
	outline:none;
	text-align:right;
}
.txt {
	text-align:center;
	margin:0 0 25px;
	font-size:13px;
	padding:0 21px 0 0;
}
.txt a {
	color:#656565;
}
.threecolumn {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-column.png') }}) repeat-x;
	overflow:hidden;
	width:522px;
	margin:0 auto;
}
.threecolumn-frame {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/img1.png') }}) no-repeat 50% 106%;
	background-size:100% 100%;
	padding:0 0 10px;
	margin:0 0 17px;
}
.threecolumn .column:first-child img {
	margin:0 auto 8px;
}
.threecolumn .column {
	float:left;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-threecolumn.png') }}) repeat-y;
	width:170px;
	padding:24px 0 0;
	min-height:156px;
}
.threecolumn .column.add { width:182px;}
.threecolumn .column img {
	display:block;
	margin:0 auto 17px;
}
.threecolumn .column h2 {
	text-align:center;
	font-family: 'bebas_neueregular';
	font-size:40px;
	margin:0;
	font-weight:normal;
	line-height:42px;
	text-shadow: 0 3px 2px #caa823;
}
.threecolumn .column h2 a {
	color:#fff;
}
.team {
	text-indent:-9999px;
	overflow:hidden;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/signature.png') }}) no-repeat;
	width:127px;
	height:34px;
	float:right;
	margin:0 54px 0 0;
}
.block {
	overflow:hidden;
	margin:0 0 48px;
	font-size:17px;
	line-height:21px;
}
.block p {
	margin:0 0 35px;
}
.page-g .header-holder {
	width:960px;
}
.page-g .main {
	overflow:hidden;
	margin-top:-3px;
}
.container.add {
	width:522px;
}
.container {
	width:960px;
	margin:0 auto;
}
.page-g.add .main {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/img6.jpg') }}) no-repeat;
	background-size:100% 100%;
	min-height:794px;
	padding:2px 0 0;
}
.page-g.add .title-area {
	margin-bottom:0;
}
.page-g.add .title-area h1 {
	font-size:46px;
	line-height:50px;
	font-family: 'bignoodletitlingregular';
	float:left;
}
.page-g.add .tweet-frame {
	position:relative;
	margin:-50px 0 0;
}
.features {
	overflow:hidden;
	text-align:center;
}
.features .title {
	display:block;
	margin:0 0 38px;
	padding:0 28px 0 0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:28px;
	color:#3f3f3f;
	font-weight:normal;
}
.features img {
	display:inline-block;
	margin:0 109px 25px 0;
}
.features p {
	margin:0 0 22px;
}
.page-g .team {
	float:none;
	display:inline-block;
	margin:4px 0 0;
}
.tweet-frame {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-tweets.png') }}) no-repeat 50% 0;
	overflow:hidden;
	padding:54px 0 0;
	margin:0 0 14px;
}
.tweet-holder {
	overflow:hidden;
	background:#7c3d97;
	padding:40px 0 56px;
}
.tweet-box {
	float:left;
	width:170px;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/ico3.png') }}) no-repeat;
	padding:33px 0 0;
	color:#eee;
	font-size:14px;
	line-height:18px;
	margin:0 0 0 70px;
	font-family:Arial, Helvetica, sans-serif;
}
.tweet-box p {
	margin:0;
}
#footer .column {
	float:left;
	width:180px;
	margin:0 0 0 61px;
	font-family:Arial, Helvetica, sans-serif;
}
#footer .column.add {
	margin:0 0 0 40px;
}
#footer .column:first-child {
	margin:0;
}
#footer .column ul {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
#footer .column ul li {
	margin:0 0 4px;
}
.page-g .footer-bottom {
	background:#efefef;
	padding:21px 0 70px;
	color:#9b9b9b;
	font-size:14px;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
}
.page-g .threecolumn-frame {
	margin:0 0 18px;
}
.page-g .footer-bottom a {
	color:#9b9b9b;
}
#footer .column ul li a {
	color:#2b2c2c;
}
#footer .column a {
	color:#2b2c2c;
}
#footer .column p {
	margin:0 0 4px;
}
#footer .column .social {
	margin:0;
	padding:0;
	list-style:none;
}
#footer .column .social li {
	float:left;
	margin:0 10px 0 0;
}
.page-g #footer {
	background:none;
	font-size:14px;
	color:#2b2c2c;
}
#footer {
	background:#4b4b4b;
	overflow:hidden;
	padding:32px 0 26px;
	font-family: 'calibriregular';
}
.page-1 #footer {
	padding-bottom:39px;
}
.footer-holder {
	width:499px;
	overflow:hidden;
	margin:0 auto;
}
.link-holder {
	overflow:hidden;
}
.link-holder .footer-links {
	width:136px;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	font-size:12px;
}
.link-holder .footer-links li a {
	color:#fff;
}
.block span {
	color:#2ba5da;
}
.right-area {
	float:right;
	width:159px;
	text-align:center;
	font-size:15px;
	color:#4fc1f2;
}
.right-area strong {
	display:block;
	margin:13px 0 15px;
	font-size:14px;
}
.social-network {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.social-network li {
	display:inline-block;
	vertical-align:top;
	margin:0 5px;
}
.social-network li a {
	width:30px;
	height:30px;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/social-ico.png') }}) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
.social-network li.facebook a {
	background-position:-42px 0;
}
.footer-bottom {
	overflow:hidden;
	text-align:center;
	background:#272727;
	font-size:15px;
	padding:15px 0 19px;
}
.footer-bottom .term {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/separator.png') }}) no-repeat;
	padding:0 30px;
	margin:0 0 0 30px;
	color:#636363;
}
.main-form {
	position:relative;
	min-height:100px;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-form-t.png') }}) repeat-y;
	width:309px;
	padding:31px 46px 23px;
	margin:61px auto 115px;
}
.main-form:before {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-form-t1.png') }}) no-repeat;
	position:absolute;
	content:"";
	top:-3px;
	width:401px;
	height:3px;
	left:0;
}
.main-form:after {
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-form.png') }}) no-repeat;
	width:454px;
	height:115px;
	position:absolute;
	bottom:-115px;
	content:'';
	left:-27px;
}
.main-form .row {
	overflow:hidden;
	margin:0 0 7px;
}
.main-form .row .text {
	width:287px;
	height:26px;
	padding:4px 11px;
	line-height:26px;
	font-size:14px;
	color:#b7b7b7;
	border:none;
	margin:0;
	background:#fff;
}
.main-form .row .cell {
	float:left;
	width:118px;
}
.main-form .row .cell label {
	display:block;
	text-align:center;
	color:#fff;
	font-size:14px;
	margin:0 0 3px;
}
.main-form .row .cell.add {
	float:right;
	width: 170px;
}
.main-form .row.ext {
	margin: 0 0 30px;
}
.main-form .row.ext2 {
	margin:0 0 32px;
}
.main-form .row.ext3 {
	margin:0 0 8px;
}
.main-form .row.ext4 {
	margin:0 0 27px;
}
.main-form .row .cell.add #fitfix_frontendbundle_trainertype_birthday select {
	width:60px;
	float:left;
	height:34px;
	padding:9px 4px;
	line-height:17px;
	font-size:14px;
	border:none;
	margin:0;
	background:#fff;
	margin:0 4px 0 0;
	text-align:center;
}
.main-form p {
	margin: -3px 0 30px;
	font-size:16px;
}

.main-form .row .cell.add #fitfix_frontendbundle_trainertype_birthday #fitfix_frontendbundle_trainertype_birthday_day {
	width: 40px;
}

.main-form .row .cell.add #fitfix_frontendbundle_trainertype_birthday #fitfix_frontendbundle_trainertype_birthday_year {
	width:60px;
	margin:0;
}
.main-form .row .cell .select {
	width:100%;
	height:34px;
	padding-top:4px;
}
.main-form .row .cell-1 {
	float:left;
	width:67px;
}
.main-form .row .cell-1.add {
	float:right;
	width:200px;
}
.cell-1 .text-2 {
	width:36px;
	height:26px;
	padding:4px 12px;
	line-height:26px;
	font-size:14px;
	color:#b7b7b7;
	border:none;
	margin:0;
	background:#fff;
}
.cell-1.add .text-2 {
	width:204px;
	float:right;
}
.main-form .row .cell-2 {
	float:left;
	width:131px;
}
.main-form a {
	color:#fff;
	text-decoration:underline;
}
.main-form a:hover {
	text-decoration:none;
}
.main-form .row .cell-2 .text-3 {
	width:133px;
	height:26px;
	padding:4px 12px;
	line-height:26px;
	font-size:14px;
	color:#b7b7b7;
	border:none;
	margin:0;
	background:#fff;
}
.main-form .row .cell-2.add {
	float:right;
}
.main-form .row .cell-2 .select {
	width:100%;
	height:34px;
	margin:0;
	float:right;
}
.main-form input[ type="submit"] {
	margin:0 auto;
	display:block;
	width:264px;
	height:52px;
	border-radius:7px;
	color:#fff;
	font-weight:bold !important;
	cursor:pointer;
	background:url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/bg-submit.png') }}) repeat-x;
	text-align:center;
	border:none;
	text-shadow: 5px 5px 5px #000;
	font:26px/52px Arial, Helvetica, sans-serif;
}
.gender_wrapper {
	width:100%;
	height:34px;
	background:#fff url({{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/dd-bg.jpg') }}) no-repeat 90% 14px;
	display:block;
	border:0px solid #6a2f84;
	border-radius:0px;
	position:relative;
	cursor:pointer
}
.gender_wrapper select {
	opacity:0;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
  filter: alpha(opacity=0);
}
.gender_wrapper font {
	position:absolute;
	top:6px;
	left:10px;
}
    
    </style>
    
    <title>fitfix</title>
</head>
<body class="page1">
	<div id="header_bg">
      <div id="header">
      	<div class="container add">
            <div id="logo"><a href="index.html"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/logo1.png') }}"  alt="" /></a></div>
                <div id="top_button" class="ext-mar">
                  <a href="http://www.fitfixpro.com"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/signin.gif') }}"  alt="" /></a>
                </div>
            </div>
      	</div>
	</div>
    <div class="title-area">
    	<div class="container add"><h1 class="heading3">WELCOME to fitfix</h1></div>
    </div>
    <div class="main">
        <div class="container add">
        	<div class="description">
                <p>Congratulations, your account is now live! Welcome to your 14 day free trial. Get going straight away by clicking 'Login'  above and entering your details or download our tablet app <a href="#">here</a>.</p>
                <p>Have a look below for some links to our startup guides and support pages. Any problems, drop us a line! We hope you enjoy your time with us.</p>
                <p>You can find your new <a href="#">Username</a> below!</p>
            </div>
            <div class="info-holder">
            	<form action="#" class="login-form">
                	<fieldset>
                    	<div class="row">
                        	<label for="user">Username</label>
                            <input type="text" id="user" value="{{ trainer.user.email }}" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <p class="txt"><a href="#">Keep this information safe!</a></p>
        </div>
        <div class="threecolumn-frame">
            <div class="threecolumn">
            	<div class="column">
                	<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/img2.png') }}" width="92" height="47" alt="" />
                    <h2><a href="#">Download App</a></h2> 
                </div>
                <div class="column">
                	<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/img3.png') }}" width="33" height="38" alt="" />
                    <h2><a href="#">STARTUP GUIDES</a></h2> 
                </div>
                <div class="column add">
                	<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/img4.png') }}" width="33" height="38" alt="" />
                    <h2><a href="#">SUPPORT</a></h2> 
                </div>
            </div>
         </div>
    </div>
    <div class="container add">
    	<div class="block">
    	 	<p>You can cancel your trial at any time by clicking <a href="#">here</a>, otherwise your subscription of <span>&pound;{{ subscription.price }}</span> for  <span>{{ subscription.period }}</span> will be activated after 14 days. Thanks for trying us out! </p> 
            <span class="team">team fitfix</span>
        </div>
    </div>
    <div id="footer">
    	<div class="footer-holder">
        	<div class="right-area">
            	<strong>Connect with us via Facebook and Twitter</strong>
                <ul class="social-network">
                	<li><a href="#"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/ico6.png') }}" width="31" height="31" alt="" /></a></li>
                    <li class="facebook"><a href="#"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/fitfixfrontend/images/ico5.png') }}" width="31" height="31" alt="" /></a></li>
                </ul>
            </div>
            <div class="link-holder">
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">The Team</a></li>
                </ul>
                <ul class="footer-links">
                    <li><a href="#">Download Apps</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
           </div>
        </div>
    </div>
    <div class="footer-bottom">
    	<span>Copyright 2014</span>
        <a href="#" class="term">Terms &amp; Conditions</a>
    </div>
</body>
</html>
