

 <div class="navbar navbar-inverse navbar-fixed-top main-menu">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Backbone Boilerplate</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="#/clients">Clients</a></li>
                    <li><a href="#/client">Client</a></li>
                    <li><a href="#/" class="logout">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>